{% extends "encyclopedia/base.html" %}

{% block title %}Create New Page{% endblock %}

{% block content %}
  <h1>new page</h1>

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="title" value="{{ title|default:'' }}" required><br><br>
    <textarea name="content" placeholder="content in markdown" rows="10" required>{{ content|default:'' }}</textarea><br><br>
    <button type="submit">create</button>
  </form>
{% endblock %}
